<!doctype html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet"
			href="/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel='stylesheet' href='/assets/stylesheets/style.css' />
		<link href='https://unpkg.com/boxicons@1.9.3/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		{{> header}}
		{{{body}}}
		<script src="/assets/vendor/jquery/jquery.min.js"></script>
		<script src="/assets/vendor/popper.js/popper.min.js"></script>
		<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
	</body>
</html>